<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SmileClock</title>
    <link rel="stylesheet" href="../static/css/style.css">

  </head>
  <body>
    <div class="header">Smile&Clock</div>

    <div class="CAM" align="center">
      <video id="video"></video>
    </div>

    <script type="text/javascript" src="../static/js/camera.js"></script>

    <div class="btn-wrapper">
    </div>

    <div class="contents">
      <!-- 時計 -->
      <div class="clock">
        <p class="clock-date"></p><!-- 時計の日付テキスト -->
        <p class="clock-time"></p><!-- 時計の時間テキスト -->
      </div>
    </div>
    <script type="text/javascript" src="../static/js/clock.js"></script>
    <script type="text/javascript" src="../static/js/timer.js"></script>

    <form action="" method="">
      <div id="jsalarmclock">
      <div><div hidden class="leftcolumn">Current Time:</div> <span hidden id="jsalarm_ct" style="letter-spacing: 2px"></span></div>
      <div><div class="leftcolumn">Set Alarm:

      </div> <span><select class="menyu"></select> Hour</span>
      <span><select class="menyu"></select> Minutes</span>
      <span><select class="menyu"></select> Seconds</span></div>

      <audio id="musicloc" preload loop><source src="https://res.cloudinary.com/code-kitchen/video/upload/v1555038697/posts/zk5sldkxuebny7mwlhh3.mp3"></audio>
      <input type="submit" value="Set Alarm!" id="submitbutton" /> <input type="reset" value="reset" id="resetbutton" />
      </div>
      </form>


      <script type="text/javascript">
      jsalarm.init()
      </script>

      <div class="pos">
      <div id = "Smiledegree">笑顔度</div>
      <div id = "prediction">真顔</div></div>
        {% for item in rows %}
        <script>
          var x = {{item|tojson}};
          var y="いい顔だね";
          var elem = document.getElementById("prediction");
          if(parseFloat(x)>0.5){
            y="いい笑顔だよ!!";
          }
          else{
            y="もっと笑って!!";
          }
          elem.innerHTML=y;
          if(flag){
            if(y=="いい笑顔だよ!!"){
              count+=1;
              if(count>30){
                window.location.href = "https://www.nhk.or.jp/kishou-saigai/#tutorial";
              }
            }
          }
        </script>
        {% endfor %}

        <img class="sun" src="../dataset/image/太陽.png">
        <img class="smileface" src="../dataset/image/笑顔.png">
        <img class="faceclock" src="../dataset/image/時計.png">
  </body>
</html>
