/* Google Fonts 読み込み */
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

.header{
  font-family: 'Share Tech Mono', monospace;
  background-color : #DDFFFF;
  color: 	#ADFF2F;
  height: 90px;
  font-size: 40px;
  text-align: center;
  padding:15px 0;
  text-shadow: 0 1px 0 #ccc, 0 3px 0 #ccc, 0 4px 10px rgba(0, 0, 0, .2); 
  
}
.CAM{
  background-color:#FFFFCC;
}

.btn:hover{
  opacity: 1;
}



.btn{
  display: inline-block;
  opacity: 0.8;
  margin: 20px 0;
  font-family: 'Noto Serif JP', sans-serif;
  color: white;
  background-color: #239b76;
  font-size: 30px
}

.btn-wrapper a{
  text-decoration: none;
}

.btn-wrapper{
  text-align: center;
  background-color:#FFFFCC;
}

.AI{
  display: inline-block;
}

.AI video{
  margin:0 auto;
  height:100px;
  left: 10px;
}

/* 全体を囲うコンテナーheight: 100vh; */
.contents {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color:#336666;
}

/* 時計の共通スタイル */
.clock {
  font-family: 'Share Tech Mono', monospace;
  color: #daf6ff;
  text-shadow: 0 0 20px #0aafe6;
  line-height: 1.2;
  text-align: center;
  
}

/* 日付のスタイル */
.clock-date {
  font-size: 25px;
}

/* 時間のスタイル */
.clock-time {
  font-size: 50px;
}

/* 文字サイズ調整 */
@media screen and (max-width: 500px) {
  .clock-date {
    font-size: 20vw;
  }
  .clock-time {
    font-size: 15vw;
  }
}

/*　文字サイズなど*/
#jsalarmclock{
  font-family: Tahoma;
  font-weight: bold;
  font-size: 30px;
  color: #66CCFF;
  background-color:#336666;
  position: absolute; top: 835px; 
  position: absolute; left: 500px; 
  }
  
#jsalarmclock div{
  margin-bottom: 0.8em;
  }

#jsalarmclock span{
  margin-right: 5px;
  }

.leftcolumn select{
  display: none;
}

.leftcolumn{
  display: none;
  background-color: #808080;
}

#submitbutton{
  font-size: 20px;
  position: relative; left: 80px; 
}

#resetbutton{
  font-size:20px;
  position: relative; left: 200px; 
}

.menyu{
  font-size:20px;
}

#Smiledegree{
  font-family: 'Share Tech Mono', monospace;
  font-size:30px;
  color: 	#3366FF;
  background-color: #99FFFF;
  text-shadow: 0 1px 0 #ccc, 0 3px 0 #ccc, 0 4px 10px rgba(0, 0, 0, .2); 
  position: absolute; top: 620px; 
  position: absolute; left: 600px; 
}

#prediction{
  font-family: 'Share Tech Mono', monospace;
  font-size:30px;
  color: #3366FF;
  background-color: #99FFFF;
  position: absolute; top: 620px; 
  position: absolute; left: 800px; 
  text-shadow: 0 1px 0 #ccc, 0 3px 0 #ccc, 0 4px 10px rgba(0, 0, 0, .2);
  
}



.sun{
  width: 60px;
  height: 60px;

  position: absolute; top: 10px; 
  position: absolute; left: 330px; 
}

.smileface{
  width: 60px;
  height: 60px;
  position: absolute; top: 60px; 
  position: absolute; left: 660px; 
}

.faceclock{
  object-fit: cover;
  width: 60px;
  height: 60px;
  position: absolute; top: 30px; 
  position: absolute; left: 1000px; 
}